@model WellN_M2_AgenciaViagens.Models.Pacotes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pacotes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precoOriginal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precoOriginal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.destino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.destino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pessoasContempladas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pessoasContempladas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hasOnibus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hasOnibus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hasAviao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hasAviao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hasNavio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hasNavio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hasHotel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hasHotel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hasAlimentacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hasAlimentacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Compras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Compras.SecID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
