@model IEnumerable<WellN_M2_AgenciaViagens.Models.Pacotes>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precoOriginal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.destino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pessoasContempladas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hasOnibus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hasAviao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hasNavio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hasHotel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hasAlimentacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Compras)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precoOriginal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.destino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pessoasContempladas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hasOnibus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hasAviao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hasNavio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hasHotel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hasAlimentacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Compras.SecID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
