@model WellN_M2_AgenciaViagens.Models.Clientes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Clientes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.criadoEm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.criadoEm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Compras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Compras.SecID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
